
  .circleQuestion {
    display: table-cell;
    height: 2em;
 /*change this and the width for the size of your initial circle*/
    width: 2em;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
  /*make it pretty*/
    background: #004d99;
    color: #fff;
    font: 18px "josefin sans", arial;
  /*change this for font-size and font-family*/
}

p {
   font-size: '1.5em'
}
