path {  stroke: #fff; }
path:hover {  opacity:0.6; }
rect:hover {  fill:rgb(245, 239, 220); }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.simple-chart {
    display:inline-block;
    margin-top: 1em;
}

.legend-div {
    margin: auto;
    position: absolute;
    display:inline-block;
    margin-top: 4em;
    margin-left: 1em;

}
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

.chart-font {
    font-size: 1.2em;
}

@media screen and (max-width: 600px) {
    .chart-font {
        font-size: 1em;
    }

    .legend-div {
        margin: auto;
        position: relative;
        display:inline-block;
        margin-top: 0.5em;
        margin-left: 1em;
    
    }
}