.ui.segment.home-info {
    background-color:#ecf2f8;
    font-size: 0.9em;
    line-height: 2em;
}

.info-icon { 
    color: #004d99;
    float: left;
}

.info-title { 
    float: 'right';
}

.answers-show {
    padding-top: 1em
}

.question-text {
    font-size: 0.9em;
}

.chart-divider {
    margin-top: 4em;
    margin-bottom: 3em;
}

@media screen and (max-width: 600px) {
    .ui.segment.home-info {
        font-size: 0.7em;
        line-height: 1.3em;
    }

    .chart-divider {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .answers-show {
        padding-top: 0.3em
    }

    .answer-buttons {
        text-align: center
    }

    .question-div {
        font-size: 0.9em;
    }
}