.body { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255,0.7)), url('https://i.imgur.com/3UZAFy6.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.tausta {
    background: 'blue'
}